body {
  background-color: black;
}

title , h1 {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monospace;
  text-align: center;
}

title {
  font-size: 2em;
}

h1 {
  font-size: 1em;
}

table {
  background-image: url(asset_path('Whitetablecaffeine.jpg'));
  align: center:
  height: 40%;
  width: 40%;
}

.myScore, .compScore {
  background-color: white;
  border-radius: 25%;
  height: 40%;
  width: 15%;

}
